<template>
  <v-container fluid class="mt-5">
    <v-row>
      <v-col md="12" v-if="!showRegisterPublication">
        <v-row class="justify-between align-center mb-5">
          <v-col cols="12" md="3" class="py-0">
            <v-btn
              rounded
              dark
              block
              large
              @click="HandlerAddPublication"
              class="accent shadow-4 px-8"
            >
              Añadir Publicación
            </v-btn>
          </v-col>
        </v-row>
        <v-card class="shadow-1 mt-5" v-if="!showRegisterPublication">
          <v-data-table
            :loading="loading"
            :headers="headers"
            :items="dataPublication"
            :single-expand="singleExpand"
            :expanded.sync="expanded"
            disable-pagination
            hide-default-footer
            class="elevation-0"
          >
            <template v-slot:[`item.action`]="{ item }">
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    @click="HandlerEdit(item)"
                    icon
                    color="white"
                    dark
                    v-bind="attrs"
                    v-on="on"
                  >
                    <v-icon :color="isDark ? 'white' : '#6D6D6D'">
                      mdi-pencil
                    </v-icon>
                  </v-btn>
                </template>
                <span>Editar Publicación</span>
              </v-tooltip>
            </template>
            <template v-slot:expanded-item="{ headers, item }">
              <td :colspan="headers.length">
                More info about {{ item.title }}
              </td>
            </template>
          </v-data-table>
        </v-card>
      </v-col>
      <v-col md="12" v-if="showRegisterPublication">
        <section id="register">
          <register-publication
            :dataUpdate="dataUpdate"
            :action="action"
            @dialog:change="HandlerResponse"
          />
        </section>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
//import RegisterPublication from "./RegisterPublication.vue";

export default {
  components: {
    RegisterPublication: () => import("./RegisterPublication.vue"),
  },

  data() {
    return {
      headers: [
        { text: "Title", sortable: false, value: "title" },
        { text: "Content", sortable: false, value: "content" },
        { text: "Author", sortable: false, value: "author" },
        { text: "Acciones", sortable: false, align: "right", value: "action" },
      ],
      dataPublication: [],
      showRegisterPublication: false,
      action: 0,
      expanded: [],
      singleExpand: false,
    };
  },

  created() {
    this.HandlerGetPublication();
  },

  computed: {
    isDark() {
      return this.$vuetify.theme.dark;
    },
  },

  methods: {
    async HandlerGetPublication() {
      try {
        this.loading = true;

        try {
          const axios = require("axios");
          const response = await axios.get(
            `http://127.0.0.1:8000/publications/list/`
          );
          console.log("respuesta", response.data);
          this.dataPublication = response.data;
          this.dataPublication.forEach((element) => {
            element.author = "Daniel";
          });
        } catch (error) {
          return Promise.reject(error);
        }
      } catch (error) {
        console.log(error);
      } finally {
        this.loading = false;
      }
    },

    HandlerAddPublication() {
      this.showRegisterPublication = !this.showRegisterPublication;
      this.action = 0;
      this.dataUpdate = {};
    },

    HandlerEdit(item) {
      this.dataUpdate = { ...item };
      console.log("dataUpdate", this.dataUpdate);
      this.action = 1;
      this.showRegisterPublication = !this.showRegisterPublication;
    },

    HandlerResponse() {
      this.showRegisterPublication = false;
      // if (action === 0) {
      this.HandlerGetPublication(this.page, true);
      // }
    },
  },
};
</script>
