<template>
  <ValidationObserver ref="obs" v-slot="{}">
    <v-container class="mt-n0">
      <div
        class="font-weight-medium primary--text mb-5"
        style="font-size: 26px"
      >
        Crear / Editar Publicacion
      </div>
      <v-card :loading="loading" class="mb-4">
        <v-card-title class="pa-0 shadow-1">
          <v-card-title class="font-weight-medium primary--text">
            Datos de la publicación
          </v-card-title>
        </v-card-title>
        <v-card-text>
          <!-- {{dataUpdate}} -->
          <v-row class="mt-2">
            <v-col cols="12" sm="6" md="3">
              <ValidationProvider
                name="title"
                rules="required"
                v-slot="{ errors }"
              >
                <v-text-field
                  label="Title"
                  filled
                  dense
                  rounded
                  class="rounded-small"
                  v-model="dataUpdate.title"
                  :error-messages="errors"
                ></v-text-field>
              </ValidationProvider>
            </v-col>
            <v-col cols="12" sm="6" md="3">
              <ValidationProvider
                name="content"
                rules="required"
                v-slot="{ errors }"
              >
                <v-text-field
                  label="Content"
                  filled
                  dense
                  rounded
                  class="rounded-small"
                  v-model="dataUpdate.content"
                  :error-messages="errors"
                ></v-text-field>
              </ValidationProvider>
            </v-col>
          </v-row>
          <v-row> </v-row>
        </v-card-text>
      </v-card>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-hover v-slot:default="{ hover }">
          <v-btn
            text
            rounded
            class="mr-1"
            :color="hover ? 'error' : 'grey'"
            @click="closeModal({}, false)"
          >
            Cancelar
          </v-btn>
        </v-hover>
        <v-hover v-slot:default="{ hover }">
          <v-btn
            :loading="loading"
            rounded
            class="mr-1"
            color="success"
            :class="hover ? 'shadow-2' : 'shadow-4'"
            @click="HandlerSendData"
          >
            Guardar
          </v-btn>
        </v-hover>
      </v-card-actions>
    </v-container>
  </ValidationObserver>
</template>

<script>
export default {
  name: "RegisterPublication",

  props: {
    dataUpdate: {
      type: Object,
      default: () => {},
      required: false,
    },
    action: {
      type: Number,
      default: 0,
      required: false,
    },
  },
  data() {
    return {
      showRegister: false,
      register: true,
      loading: false,
      name: "",
    };
  },

  watch: {},

  computed: {},

  methods: {
    closeModal(data, action) {
      this.$emit("dialog:change", data, action);
    },

    // METODO PARA CREAR/ ACTUALIZAR PUBLICACIONES
    async HandlerSendData() {
      try {
        if (await this.$refs.obs.validate()) {
          this.loading = true;
          // Json PARA crear/actualizar
          const request = {
            title: this.dataUpdate.title,
            content: this.content,
            author: 1, //this.dataUpdate.author, mientras se crea metodo get user
          };

          console.log("request", request);
          const axios = require("axios");
          let response;

          if (this.action == 0) {
            response = await axios.post(
              `http://127.0.0.1:8000/publications/list/`,
              request
            );
            this.$snotify.success("Publicacion Registrada.", "¡Exitos!");
          } else {
            response = await axios.post(
              `http://127.0.0.1:8000/publications/list/${this.dataUpdate.id}`,
              request
            );
            this.$snotify.success("Publicacion Actualizada.", "¡Exitos!");
          }
          this.closeModal(response.data, 0);
        } else {
          this.showErrorCategories = true;
        }
      } catch (error) {
        console.log(error);
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>

<style>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>